<div *ngIf="('title' | translate) as templateTitle">
  <!-- translation: translation pipe -->
  <h1>{{ "title" | translate }}</h1>
  <h1>{{ title }}</h1>
  <h1>{{ templateTitle }}</h1>

  <!-- translation: directive (key as attribute)-->
  <p [translate]="'text'"></p>

  <!-- translation: directive (key as content of element) -->
  <p translate>text</p>

  <p>{{ "greeting" | translate: { name: "Andrea" } }}</p>

  <button (click)="useLanguage('en')">en</button>
  <button (click)="useLanguage('de')">de</button>
</div>

<router-outlet></router-outlet>
